<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ldw.dao.BookDao">
    <!--    配置查询所有 id为方法名 resultType指定封装的实体类型-->
    <resultMap id="BookMap" type="org.ldw.entity.Book">
        <result column="ISBN" property="code"/>
        <result column="Book-Title" property="title"/>
        <result column="Book-Author" property="author"/>
        <result column="Year-Of-Publication" property="year"/>
        <result column="Publisher" property="publisher"/>
        <result column="Image-URL-S" property="imageURL_S"/>
        <result column="Image-URL-M" property="imageURL_M"/>
        <result column="Image-URL-L" property="imageURL_L"/>
    </resultMap>

    <select id="getBookByCode" resultMap="BookMap">
        select *
        from book_recommend.`BX-Books`
        where ISBN=#{ISBN}
    </select>



</mapper>